/* font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
  --Violet-color:hsl(257, 40%, 49%);
  --color-Softmagenta: hsl(300, 69%, 71%);
  --main-color:#FFF;
}
* ,
*::before ,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  border: 0;
  font: inherit;
}

body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background-color:var(--Violet-color);

}
img{
  object-fit: cover;
  display: block;
  max-width: 100%;
}
h1, 
h2,
h3,
p{
  color: #fff;
}
a , button{
  cursor: pointer;
}
input , textarea , button {
  font-family: inherit;
}
/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}
a{
  text-decoration: none;
}

button{
  font-family: 'Poppins', sans-serif;
}
/* Typeography */
/* style the h1 , p */
h1 , a{
  font-family: 'Poppins', sans-serif;

}
i{
  color: var(--main-color);
}

.container-img{
  width: 100%;
}


/* desktop version */
/* main style */
.background{
  background-image: url(./images/bg-desktop.svg);

  background-size: cover;
  min-height: 100vh;
  background-position: center left;
  background-repeat: no-repeat;
}
/* logo */
.logo-img{
  height: 54px;
}

.img-logo{
  padding-left: 67px;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.conatiner-main{
 /* display: flex;
 max-width: 100%;
 margin: 0 auto;
 gap:59px; */
 display: grid;
 gap: 60px;
 grid-template-columns: repeat(2 , auto);
 padding-left: 67px;

}
.text-container{
  margin-top: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.container-title{
  font-size: 40px;
  width: 487px;
  line-height: 60px;
}
.conatiner-lead{
  font-size: 1.125rem;
  width: 520px;
  margin: 1.5rem 0;
  line-height: 27px;
}
.btn{
  background-color:var(--main-color);
  color: var(--Violet-color);
  display: inline-block;
  border-radius: 30px;
  padding:1.3rem 4rem 1.3rem 4rem  ;
  font-size: 1.125rem;
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
}
.btn:hover{
  background-color: #E880E8;
  color: #fff;
}

/* social media */
.social-media{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5rem;
  gap:1rem ;
  padding-bottom:2.5rem ; 
  font-size: 1.2em;
  text-align: center;
   width: 100%;
   transition: 0.3ms;
   

}
.social-media li i{
  display: block;
  font-size: 20px;
  border: 1px solid var(--main-color);
  width: 42px;
  height: 42px;
  border-radius: 50%;
   line-height: 42px; 
}
.social-media li i:hover{
  border: 1px solid var(--color-Softmagenta);
  color: var(--color-Softmagenta);
  
}





/* from desktop to mobile */

/* media query  */
@media(max-width:1214px){
  html{
    overflow-x: hidden !important;
  
  }
  
  .background{
    background-image: url(./images/bg-mobile.svg);
  }
  .conatiner-main{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    max-width: 100%;
    width: 100%;
   
  }
  .container-title{
    width: 900px;
    font-size: 2rem;
    line-height: 36px;
     text-align: center;
    margin: 0 auto;
  }
  .btn-button{
   display: flex;
   align-items: center;
   justify-content:center;
   
   text-align: center;
   width: 100%;
  }
  .btn{
  
    width: 100%;
  }
  .social-media{
   
    justify-content:center;
    align-items: center;
    width: 100%;
    padding-right: 0;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  .img-logo{
   /* top right bottom left */

    height: 14px;
   padding: 2.6rem  1.5rem 4rem 1.5rem;
  }
  .logo-img{
   
   height: 40px;
  }
    .conatiner-lead{
      
      text-align: center;
      width: 700px;
      margin: 20px auto;
    }
    .btn{
     
      width: 60%;
    }
  
}
/* mobile */
@media(max-width:768px){
  html{
    overflow-x: hidden !important;
  }
  .background{
    background-color:var(--Violet-color);
    background-position: cover;
    background-size: 100%;
    background-position: top center ;
  }
  .container-title{
    max-width: 500px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2.4rem;
    line-height: 1.5;
    
  }
  .conatiner-lead{
    width: 370px;

    margin: 0 auto;
    text-align: center;
  line-height: 1.7;
   font-size: 1.3rem;
  }
  .btn{
    width: 40%;
    margin: 20px 0;
   margin-bottom: 4rem;
  }
  .text-container{
  
    max-width: 1100px;
  }
 
}